############################
# Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# Logs
############################
logs/
*.log

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr
out/

############################
# Eclipse / STS
############################
.classpath
.project
.settings/
.springBeans
.sts4-cache/

############################
# VS Code
############################
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Env / Secrets
############################
.env
application-*.properties
application-*.yml


