@ -1,50 +1,49 @@
HELP.md
############################
# Maven
############################
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
############################
# Logs
############################
logs/
*.log

### IntelliJ IDEA ###
.idea
*.iws
############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
############################
# Eclipse / STS
############################
.classpath
.project
.settings/
.springBeans
.sts4-cache/

############################
# VS Code
############################
.vscode/
logs/application.log
logs/application.log
logs/application.log
/logs
/target
/target
/target/classes
/target/classes/com/seapos/webapi/dataaccess
target/classes/com/seapos/webapi/services/UseService.class
*.log
/logs
/logs
/target
/target/classes
/target/classes/com
/target/classes/com/seapos/webapi
/target/classes/com/seapos/webapi/services

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Env / Secrets
############################
.env
application-*.properties
application-*.yml

